<h1>This is the index</h1>
<% @posts.each do |post| %>
    <h2><%= post.title %> </h2>
    <p>  <%= post.content %> </p>
    <p>  <%= post.user.name %> </p>
    <p>Number: <%= post.comments.count %></p>

    
<% end %>